body {
  font-family: sans-serif;
}

button,
input {
  --padding: 0.5rem;
  border: 1px solid lightgray;
  border-radius: var(--padding);
  padding: var(--padding);
}

label {
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
