<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>WebRTC Demo</title>

    <script>
      // This creates a variable whose value is the roomId path parameter.
      // It can be accessed in public/script.js which is included below.
      const ROOM_ID = '<%= roomId %>';
    </script>
    <!-- The script defer attribute causes the script to be
        executed after the document has been parsed,
        but before firing DOMContentLoaded. -->
    <script defer src="peerjs.min.js"></script>
    <script defer src="script.js" type="module"></script>

    <style>
      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div id="video-grid"></div>
  </body>
</html>
